.container .taxdisplay-container {
  width: 60%;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
}

.flex-column .calc-text {
  margin: 15px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.calc-text div {
  font-size: small;
}

.tax-details {
  width: 50%;
}

.flex-row.table-text div {
  width: 33.3%;
  text-align: center;
}

.calc-text .bold-600 {
  font-size: large;
  color: var(--purple-dark);
}

.calc-text .bold-400 {
  font-size: larger;
}

.tax-details-top {
  width: 80%;
}

.tax-details .table-text.header {
  background: var(--grey-light);
  padding: 1rem;
}
.tax-details-bottom {
  width: 100%;
}
